.form-content-right {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-success {
    font-size: 42px;
    color: blueviolet;
    font-weight: 700;
    max-width: 350px;
    text-align: center;
}

.form-content-right img {
    margin-top: 30px;
    width: 200px;
}